<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/app.css')}}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>Flask App</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <section id="Hero">
      <div class="container">
        <h1>Arfath Shaik</h1>
        <h2>A motivated student who demonstrates a strong work ethic. I want to obtain a career in the IT field where I can utilize my 
          computer science degree along with my interpersonal skills.</h2>
      </div>
    </section>

    <footer id="footer">
      <div class="container">
        <h3>Arfath Shaik</h3>
        <div class="copyright">
          &copy; Copyright <strong><span>Arfath Shaik</span></strong>
        </div>
      </div>
    </footer>
    
    {% endblock %}
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  </body>
</html>